
<div>
  <h1>Juego de Adivinación de Números Aleatorios - DWEC05</h1>
  <hr>
    <h2>Parámetros de Configuración del Juego </h2>
    <label>
      Nombre: *
      <input type="text" [(ngModel)]="configuracion.nombre" (keypress)="filtroLetras($event)"   name="nombre" pattern="[a-zA-Z ]*"   required>
    </label>
    <br>
    <label>
      Apellido: *
      <input type="text" [(ngModel)]="configuracion.apellido" (keypress)="filtroLetras($event)" name="apellido" pattern="[a-zA-Z ]*" required>
    </label>
    <br>
    <label>
      Rango de números a generar: *
      <input type="number" step="1" pattern="[0-9]" (keypress)="filtroNumeros($event)" [(ngModel)]="configuracion.rango" name="rango" required>
    </label>
    <br>
    <label>
      Número de intentos: *
      <input type="number"  pattern="^[0-9]"  (keypress)="filtroNumeros($event)" [(ngModel)]="configuracion.intentos" name="intentos" required>
    </label>
    <br>
    <button type="submit" (click)="recogerDatos()">Recoger Datos</button>
</div>
<br>
<hr>
<div>
@if(recogerDatosOK) {
  <h2>Ongi Etorri {{ configuracion.nombre }} {{ configuracion.apellido }}</h2>
  <div>
    <label>
      Introduce el Número a Adivinar:
      <input type="number" [(ngModel)]="numeroIngresado" >
    </label>
    <br>
    <button (click)="verificarNumero()">Enviar</button>
  </div>
  <div>
    <br>
    <label>Intentos Restantes: {{ intentosRestantes }}</label>
  </div>
  @if(verificarDatosOK) {
    <div>
      <p>¿Has Adivinado? : {{ resultado? "SI":"NO" }}</p>
    </div>
    <hr>
  }
  @if(intentosRestantes==0 || resultado) {
    <div>
      <p>Se han acabado los intentos.</p>
      <ul>
        <li *ngFor="let numero of numerosIngresados">{{ numero }}</li>
      </ul>
    </div>
  }
}
</div>
